#header {
  border-color: #f0f;
  box-shadow: #f0f 0 0 1rem;
}

#nav a:hover {
  color: #f0f;
}

#footer {
  text-align: center;
  border-color: #f0f;
  box-shadow: #f0f 0 0 1rem;
}

#login {
  border-color: #f0f;
  box-shadow: #f0f 0 0 3rem;
}

#form-title {
  color: #0ff;
  border-color: #0ff;
  text-shadow: -1px 0 black, 0 1px black,
    1px 0 black, 0 -1px black;
  box-shadow: 0 1px #666;
}

.field-input {
  border-color: #0ff;
  transition: 0.5s;
}

.field-input:focus {
  transform: scale(1.2);
}

#errors {
  background-color: #0ff;
  color: black;
}

#login-submit {
  background: linear-gradient(#0ff, #099);
}

#login-submit:hover {
  background: linear-gradient(#f0f, #909);
}

/* fioritures */
@keyframes blink {
  from {
    background-color: transparent;
  }

  to {
    background-color: #f0f;
  }
}

#errors {
  animation-name: blink;
  animation-duration: 0.6s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}