body {
  background-color: lightgray;
  font-family: monospace;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#header {
  border-bottom: 1px solid black;
  padding: 0.5rem 1rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

#app-title {
  font-weight: bold;
  font-size: 2em;
}

#nav {
  display: flex;
  align-items: flex-end;
}

#nav a {
  display: block;
  padding: 2px 1rem;
}

#nav a:hover {
  color: grey;
}

#footer {
  text-align: center;
  border-top: 1px solid black;
  padding: 0.5rem 1rem;
  background-color: #fff;
  font-size: 0.8em;
}

#login {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid black;
}

#form-title {
  color: grey;
  font-size: 1.6em;
  font-weight: bold;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid grey;
}

.field {
  margin: 1rem 0;
}

.field-label {
  margin: 0.375rem 0;
  font-weight: bold;
  display: block;
}

.field-input {
  border: 1px solid black;
  padding: 0.375rem 0.625rem;
  width: 100%;
}

.field-info {
  margin: 0.375rem 0 0.8rem 0;
  border-radius: 10px;
  color: grey;
  font-size: 0.8em;
  text-align: left;
}

#errors {
  margin-top: 1rem;
}

.error {
    border-radius: 4px;
    background-color: #ff3860;
    text-align: center;
    color: #fff;
    font-size: .9em;
    padding: 1em;
    margin-bottom: 1em;
    line-height: 1.4;
}

#login-submit {
  background: black;
  border: 0;
  border-radius: 4px;
  color: white;
  padding: 0.375rem 0.75rem;
  font-weight: bold;
  float: right;
}

#login-submit:hover {
  background: grey;
}

.valid {
  border: 1px solid greenyellow;
}

.invalid {
  border: 1px solid red;
}